@model ViewModelBook

@{
    ViewData["Title"] = "Liquidation Report";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form id="dynamicForm" method="post">
            <div class="row">
                <div class="mb-3">
                    <label class="control-label">
                        Supplier List
                    </label>
                    <select id="supplier-list" asp-items="@Model.SupplierList" class="form-control js-select2" style="width:100%">
                        <option></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="control-label">
                        Purchase Order List
                    </label>
                    <select id="purchase-order-list" asp-for="PurchaseOrderId" class="form-control js-select2" style="width:100%">
                        <option></option>
                    </select>
                </div>

                <div class="col-sm mb-3">
                    <label asp-for="Period" class="control-label"></label><span class="required">*</span>
                    <input asp-for="Period" type="month" class="form-control period" value="@DateTimeHelper.GetCurrentPhilippineTime().ToString("yyyy-MM")" required/>
                    <span asp-validation-for="Period" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="button" class="btn btn-primary form-control" onclick="submitForm('GenerateLiquidationReportExcelFile')"><i class="bi bi-file-text"></i> Generate as Excel file</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function submitForm(action) {
            var form = document.getElementById('dynamicForm');
            form.action = action;
            form.submit();
        }
    </script>
    <script>
        $(document).ready(function () {
           $("#supplier-list").change(function () {
               let supplierId =$(this).val();
               let purchaseOrderList = $("#purchase-order-list");
               
               $.ajax({
                   url: '@Url.Action("GetPurchaseOrderListBySupplier", "AccountsPayableReport", new{ area = "Filpride"})',
                   type: "GET",
                   data: { supplierId : supplierId },
                   success: function (data) {
                       purchaseOrderList.empty();
                       
                       if (Array.isArray(data) && data.length > 0) {
                           purchaseOrderList.append('<option>');
                           
                           $.each(data, function(index, item) {
                               purchaseOrderList.append($('<option>', {
                                   value: item.value, 
                                   text: item.text
                               }));
                           });
                       }
                       else {
                           Swal.fire({
                               title: "Error",
                               text: "No Purchase Orders found",
                               icon: "error"
                           });
                       }
                   }
               })
               
           }) ;
        });
    </script>
}