@model BankAccount

@{
    ViewData["Title"] = "Bank Account - Create";
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Loading...</div>
</div>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="AccountNo" class="form-control " placeholder=""/>
                <label asp-for="AccountNo" class="control-label">Account No<span class="required">*</span></label>
                <span asp-validation-for="AccountNo" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="AccountName" class="form-control " placeholder=""/>
                <label asp-for="AccountName" class="control-label">Account Name<span class="required">*</span></label>
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Bank" class="form-control " placeholder=""/>
                <label asp-for="Bank" class="control-label">Bank<span class="required">*</span></label>
                <span asp-validation-for="Bank" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Branch" class="form-control " placeholder=""/>
                <label asp-for="Branch" class="control-label">Branch<span class="required">*</span></label>
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-area="Admin" asp-controller="BankAccount" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
