@model Service

@{
    ViewData["Title"] = "Service - Edit";
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Loading...</div>
</div>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Edit">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ServiceId" type="hidden"/>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control "/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">%</span>
                <input asp-for="Percent" type="text" class="form-control" placeholder="Percentage" aria-label="Percentage" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <span asp-validation-for="Percent" class="text-danger"></span>
            </div>
            <label class="control-label">Please select where the record will be added:</label>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFilpride" /> FILPRIDE
                </label>
            </div>
            <div class="form-check pb-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBienes" /> BIENES
                </label>
            </div>
            <input type="hidden" asp-for="ServiceId"/>
            <input type="hidden" asp-for="CreatedBy" class="form-control"/>
            <input type="hidden" asp-for="CreatedDate" class="form-control"/>

            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Save</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-area="Filpride" asp-controller="Service" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
