@model Product

@{
    ViewData["Title"] = "Product - Create";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ProductCode" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="ProductCode" class="ms-2">Product Code<span class="required">*</span></label>
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ProductName" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="ProductName" class="ms-2">Product Name<span class="required">*</span></label>
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ProductUnit" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="ProductUnit" class="ms-2">Product Unit<span class="required">*</span></label>
                    <span asp-validation-for="ProductUnit" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="User" asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}