@using IBS.Utility.Helpers
@model DispatchReportViewModel

@{
    ViewData["Title"] = "Dispatch Report";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form id="dynamicForm" method="post">
            
            <div class="form-group row">
                <label asp-for="ReportType" class="col-sm-4 col-form-label text-right">Select Report Type</label>
                <div class="col-sm-6">
                    <select class="form-control js-select2" asp-for="ReportType" required style="width: 100%;">
                        <option value="AllDeliveries" selected>All Deliveries</option>
                        <option value="InTransit">In-Transit Deliveries</option>
                    </select>
                </div>
            </div>

            <div class="form-group row mt-4">
                <label asp-for="DateFrom" class="col-sm-4 col-form-label text-right">As Of (Month and Year)</label>
                <div class="col-sm-6">
                    <input type="month" class="form-control" asp-for="DateFrom" value="@DateTimeHelper.GetCurrentPhilippineTime().ToString("yyyy-MM")" required>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-6 col-md-3">
                    <button type="button" class="btn btn-primary form-control" onclick="submitForm('GeneratedDispatchReport')"><i class="bi bi-printer"></i> Generate</button>
                </div>
                <div class="col-6 col-md-3">
                    <button type="button" class="btn btn-primary form-control" onclick="submitForm('GenerateDispatchReportExcelFile')"><i class="bi bi-file-text"></i> Generate as Excel file</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function submitForm(action) {
            var form = document.getElementById('dynamicForm');
            form.action = action;
            form.submit();
        }
    </script>
}
