@using IBS.Utility.Helpers
@model ViewModelBook

@{
    ViewData["Title"] = "Otc Fuel Sales Report";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">OTC FUEL SALES REPORT</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form id="dynamicForm" method="post">
            <div class="row">
                <div class="mb-3">
                    <label asp-for="DateFrom" class="control-label"></label>
                    <input type="date" asp-for="DateFrom" class="form-control" value="@DateTimeHelper.GetCurrentPhilippineTime().ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="DateFrom" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DateTo" class="control-label"></label>
                    <input type="date" asp-for="DateTo" class="form-control" value="@DateTimeHelper.GetCurrentPhilippineTime().ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="DateTo" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="button" class="btn btn-primary form-control" onclick="submitForm('GenerateOtcFuelSalesReportExcelFile')"><i class="bi bi-file-text"></i> Generate as Excel file</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function submitForm(action) {
            var form = document.getElementById('dynamicForm');
            form.action = action;
            form.submit();
        }
    </script>
}

